header  {
	background: #f5f5f5;
	box-shadow: 0 4px 2px -2px #dddddd;
}
header .logo {
    padding-top: 13px;
}
header .logo a h2 {
    color: #9e9e9e;
    font-size: 22px;
    margin-bottom: 0px;
}
header .menu ul {
	margin: 0px;
	float: right;
	overflow: hidden;
}
header .menu ul li {
	float: left;
	list-style: none;
    margin: 10px 15px;
}
header .menu ul li a{
	color: #9e9e9e;
    font-size: 17px;
    font-weight: 600;
}

.pr-0 {
	padding-right: 0px !important;
}
.pl-0 {
	padding-left: 0px !important;
}
.br-1 {
	border-right: 2px solid #a7a7a7;
}

.content {
	margin-top: 25px;
}
.contents {
	width: 100%;
    height: 15px;
    margin-bottom: 15px;
    background: #ebebeb;
}
.contents:last-child {
    margin-bottom: 0px;
}

/** Slider **/
.slider {
    height: 160px;
    line-height: 150px;
    margin-bottom: 15px;
    background: #ffb7b7;
}
.slider p {
	margin: 0px;
	text-align: center;
}

/** Bos Sort **/
.boxBtnSort {
    text-align: right;
    margin-bottom: 20px;
}
.boxBtnSort button{
    height: 32px;
    color: #777777;
    line-height: 32px;
    letter-spacing: 0px;
    font-size: 14px;
    text-align: center;
    padding: 0px 10px;
    border: 2px solid #cecece;
    text-transform: capitalize;
    background: transparent;
    margin: 0px;
}

/** Box Vertical **/
.box_content_vertical {
    height: 100%;
}
.box_content_vertical .box_list_vertical {
    height: 100%;
}
.box_content_vertical .box_list_vertical .column {
    float: left;
    height: 100%;
    width: 33.3333%;
}
.box_content_vertical .box_vertical {
    height: 100%;
    background: #eaeaea;
    overflow: hidden;
    display: flex;
}
.box_content_vertical .box_vertical_50 {
    height: 50%;
}
.box_content_vertical .column .box_vertical_50 {
    background: #e6e6e6;
}
.box_content_vertical .column .box_vertical_50:last-child {
    background: #b1b1b1;
}
.box_content_vertical .box_vertical p{
	margin: auto;
	color: #828282;
	font-size: 14px;
    font-weight: 600;
    letter-spacing: -1px;
	writing-mode: tb-rl;
    transform: rotate(-180deg);
}
.box_content_vertical .box_vertical_2 {
	background: #c9c9c9;
}

/** Tabs **/
.tabs {
    padding: 0px 25px;
}
.tabs .list_tabs {
	border-bottom: 2px solid #cecece;
}
.tabs .list_tabs button {
    height: 32px;
    color: #777777;
    line-height: 32px;
    width: 19%;
    font-size: 14px;
    text-align: center;
    padding: 0px;
    border: 2px solid #cecece;
    text-transform: capitalize;
}
.tabs .content_tabs {
	padding: 15px 0px;
}
.tabs .content_tabs .tab .head_tabs {
    margin-top: 5px;
    overflow: hidden;
    margin-bottom: 25px;
}
.tabs .content_tabs .tab .head_tabs .float-left h2 {
    color: #777777;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 0px;
    letter-spacing: -1px;
}
.tabs .content_tabs .tab .head_tabs .float-right p {
	font-size: 16px;
	margin-bottom: 0px;
}

/** Footer **/
.footer .box_footer {
	overflow: hidden;
    padding: 0px 25px;
}
.footer .box_footer p{
    font-size: 16px;
    margin-bottom: 0px;
    letter-spacing: 0px;
}

/** Content Box 1 **/
.box_1 .bgGrey {
	background-color: #afafaf;
}
.box_1 .box_content {
	height: 80px;
    line-height: 80px;
}
.box_1 .box_content p {
	font-size: 18px;
    font-weight: 600;
	text-align: center;
    margin-bottom: 0px;
    letter-spacing: 0px;
}

/** Content Box 2 **/
.box_2 .box_content{
	width: 90%;
	height: 80px;
    line-height: 80px;
	background: #d9d9d9;
}
.box_2 .column:first-child .box_content {
    float: left;
}
.box_2 .box_content:last-child {
    float: right;
}
.box_2 .box_content p{
	font-size: 18px;
    font-weight: 600;
	text-align: center;
    margin-bottom: 0px;
    letter-spacing: 0px;
}

/** Content Box 3 **/
.box_3 .head_box_3 {
	height: 80px;
    line-height: 80px;
	background: #dee2ff;
}
.box_3 .head_box_3 p{
	font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    letter-spacing: 0px;
}
.box_3 .card {
	padding: 15px;
	border: 2px solid #cecece;
}
.box_3 .content {
	margin-top: 0px;
}

/** Content Box 4 **/
.box_4 .box_content_4 {
	height: 80px;
    line-height: 80px;
	background: #d0d0d0;
}
.box_4 .box_content_4 p{
	font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    letter-spacing: 0px;
}

/** Sidebar **/
.sidebar {
	height: 100%;
	padding: 10px;
	border: 2px solid #cecece;
}
.sidebar .sidebar_head {
	border-bottom: 2px solid #cecece;
}
.sidebar .sidebar_head h2{
	margin: 0px;
    color: #777777;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 5px;
}
.sidebar .sidebar_content{
	padding: 15px 0px;
}


/* Larger than mobile screen */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    header .row {
        display: inline-block;
    }
    header .row .column:first-child {
        width: 40%;
        float: left;
        max-width: 40%;
    }
    header .row .column:last-child {
        width: 60%;
        float: left;
        max-width: 60%;
    }
    header .logo a h2 {
        font-size: 22px;
    }
    header .menu ul li {
        margin: 5px 10px;
    }
    header .menu ul li a {
        font-size: 14px;
    }

    .container {
        padding: 0px 15px;
    }
    .row .column.column-50,.row .column.column-75 {
        max-width: 100%;
    }
    .br-1 {
        border-right: 0px;
    }
    .w100 {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    .mb-15 {
        margin-bottom: 15px;
    }

    /** Sidebar **/
    .box_sidebar {
        display: none !important;
    }

    /** Bos Sort **/
    .boxBtnSort {
        text-align: center;
    }
    .boxBtnSort button {
        font-size: 12px;
        padding: 0px 7px;
    }

    .box_content_vertical .box_list_vertical .column {
        height: 250px;
    }

    .box_section2 {
        margin-bottom: 15px;
    }

    .box_2 .box_content {
        width: 100%;
    }
    .box_2 .column:first-child .box_content {
        float: inherit;
    }
}

