.bgyellow{background:#ffd600 !important;}
.wordingImport{font-size: 31px;letter-spacing: 2px;font-weight: normal;}
.wordingImport img{width: 150px;height: auto;}
.pembatas{width: 100%;margin:20px 0;}
.pembatas .batas{width: 15%;height: 1%;padding: 0px;background: #0000;}